/build/msvc14/.vs
/build/msvc14/coin3d.dll
.vs
Debug
/data/draggerDefaults/centerballDragger.h
/data/draggerDefaults/directionalLightDragger.h
/data/draggerDefaults/dragPointDragger.h
/data/draggerDefaults/handleBoxDragger.h
/data/draggerDefaults/jackDragger.h
/data/draggerDefaults/pointLightDragger.h
/data/draggerDefaults/rotateCylindricalDragger.h
/data/draggerDefaults/rotateDiscDragger.h
/data/draggerDefaults/rotateSphericalDragger.h
/data/draggerDefaults/scale1Dragger.h
/data/draggerDefaults/scale2Dragger.h
/data/draggerDefaults/scale2UniformDragger.h
/data/draggerDefaults/scaleUniformDragger.h
/data/draggerDefaults/spotLightDragger.h
/data/draggerDefaults/tabBoxDragger.h
/data/draggerDefaults/tabPlaneDragger.h
/data/draggerDefaults/trackballDragger.h
/data/draggerDefaults/transformBoxDragger.h
/data/draggerDefaults/transformerDragger.h
/data/draggerDefaults/translate1Dragger.h
/data/draggerDefaults/translate2Dragger.h
/data/shaders/lights/DirSpotLight.h
/data/shaders/lights/DirectionalLight.h
/data/shaders/lights/PointLight.h
/data/shaders/lights/SpotLight.h
/data/shaders/vsm/VsmLookup.h
/docs/coin3.doxygen
/include/Inventor/C/basic.h
/include/Inventor/system/gl-headers.h
/include/Inventor/system/inttypes.h
/src/config-debug.h
/src/config-release.h
/src/config.h
/src/setup.h
